﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


div#content {border-left: 2px solid gray; margin-left: 9em; padding: 1em; }
div#menu {float: left; width: 8em; padding: .3em; }
div#menu a{font: bold 1.1em "Arial Narrow","Franklin Gothic Medium", Arial; display: block;
           text-decoration: none; padding: .6em; color: black; border-bottom: 1px solid silver;
}
div#menu a.selected {background-color: #666; color: white;}
div#menu a:hover {background-color: #CCC; }
div#menu a.selected:hover{background-color: #666}