﻿@model VolleyManagement.UI.Areas.Mvc.ViewModels.Players.PlayerViewModel

@{
    ViewBag.Title = Resources.PlayerViews.EditPlayerTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.PlayerViews.PlayerLegend</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Resources.PlayerViews.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.PlayerViews.BackToList, "Index")
</div>
