@model Tournament
@using VolleyManagement.Domain.Tournaments
@using VolleyManagement.UI.Areas.Mvc;

@{
    ViewBag.Title = Resources.TournamentViews.DeleteTournamentTitle;
}

<h2>@ViewBag.Title</h2>

<h3>@Resources.TournamentViews.DeleteConfirm</h3>
<fieldset>
    <legend>@Resources.TournamentViews.TournamentLegend</legend>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Description)</div>

    <div class="display-label">@Html.LabelFor(model => model.Season)</div>
    <div class="display-field">@Html.DisplaySeason(Model.Season)</div>

    <div class="display-label">@Html.LabelFor(model => model.Scheme)</div>
    <div class="display-field">@Model.Scheme.ToDescription()</div>

    <div class="display-label">@Html.LabelFor(model => model.RegulationsLink)</div>
    <div class="display-field">@Html.DisplayFor(model => model.RegulationsLink)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Resources.TournamentViews.Delete" /> |
        @Html.ActionLink(Resources.TournamentViews.BackToList, "Index")
    </p>
}


