@model VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments.TournamentViewModel

@{
    ViewBag.Title = Resources.TournamentViews.EditTournamentTitle;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.TournamentViews.TournamentLegend</legend>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Resources.TournamentViews.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.TournamentViews.BackToList, "Index")
</div>
