﻿@using VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments;
@model TournamentsCollectionsViewModel

@{
    ViewBag.Title = Resources.TournamentViews.TournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.TournamentViews.CreateNewTournament, "Create")
</p>
<p>
    <h3>
        @Resources.TournamentViews.CurrentTournamentsHeader
    </h3>    
    @{Html.RenderPartial("TournamentsList", Model.CurrentTournaments);}
</p>
<p>
    <h3>
        @Resources.TournamentViews.UpcomingTournamentsHeader
    </h3>
    @{Html.RenderPartial("TournamentsList", Model.UpcomingTournaments);}
</p>
<p>
    @Html.ActionLink(Resources.TournamentViews.FinishedTournaments, string.Empty, null, 
        new { @class = "showFinishedTournamenst"})
</p>

@{ ViewBag.TableId = "id=finished_table"; }
<p>
    @{Html.RenderPartial("TournamentsList", new List<VolleyManagement.Domain.Tournaments.Tournament>());}
</p>
