﻿@model User

@using VolleyManagement.Domain.Users

@{
    ViewBag.Title = "User details";//Resources.UserViews.UserDetailsTitle;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>@Resources.UserViews.UserLegend</legend>

    <div class="display-label">@Html.LabelFor(model => model.UserName)</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">@Html.LabelFor(model => model.Email)</div>
    <div class="display-field">@Html.DisplayFor(model => model.Email)</div>

    <div class="display-label">@Html.LabelFor(model => model.FullName)</div>
    <div class="display-field">@Model.FullName</div>

    <div class="display-label">@Html.LabelFor(model => model.CellPhone)</div>
    <div class="display-field">@Html.DisplayFor(model => model.CellPhone)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Resources.UserViews.BackToList, "Index")
</p>


